@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 10px;
    color: #fff;
    background: #222;
    font-size: 12px;
}

.containerCurrentState {
    margin: 10px;
    font-size: 26px;
}

.containerCurrentState .pass {
    color: #f2a971;
    font-size: 12px;
}

.containerCurrentState .fail {
    color: red;
    font-size: 12px;
}

.containerCurrentState .duration {
    color: #888;
    font-size: 12px;
}

.itemContainer {
    overflow: hidden;
    width: 300px;
    height: 135px;
    display: inline-block;
    border: 1px solid rgb(51, 51, 51);
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

}

.itemContainer iframe {
    width: 100%;
    border: 0;
    border-bottom-left-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    background: #fff;
}


.itemContainer .title {
    background: #4d4786;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}

.itemContainer .description {
    font-size: 11px;
    margin-top: 3px;
    height: 15px;
    opacity: 0.5;
    /*background: #d435a3;*/

}

.itemContainer .banner {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    font-size: 11px;
    background: #d435a3;
    border-bottom-left-radius: 10px;
    border-top: 1px solid #ce54ca;
    box-shadow: -15px -15px 20px rgba(0, 0, 0, 0.4);
}

.itemContainer .banner.Visual {
    border-top: 1px solid #3b5c9a;
    background: #4f3fd2;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #70020c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #70020c;
}


