@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
    color: #fff
}

html, body {
    background: #222;
    font-size: 12px;
}

input, select, option, button {
    color: #222
}

#mocha {
    margin: 88px 15px 60px 15px;
}

#mocha h1 a {
    color: #f2a971;
}

#mocha-stats em {
    color: #f2a971
}
#mocha .test.pass.fast .duration{
    color:#666;
    display: inline-block;
}

#mocha-stats {
    background: #222;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
}

#mocha h1 {
    margin-top: 20px
}

ul#mocha-stats {
    padding: 15px 10px 15px 10px;
    border-bottom: 1px solid #333;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
}

#mocha-stats .progress {
    line-height: 0;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(120, 115, 159);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(242, 169, 113);
}